body {
  text-align: center;
  font-size: 16px;
  font-family: 'Comic Sans MS', Helvetica, sans-serif;
}
table {
  margin-left:auto; 
  margin-right:auto; 
  width: 551px; 
  -webkit-user-select: none; 
  border-collapse: collapse;
}
td {
  height: 175px;
  width: 175px;
  text-align: center;
  font-size: 120px;
}
td:nth-of-type(2) {
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
  content: "20S";
}
tr:nth-of-type(2) td {
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
}
#players {
  margin-left:auto; 
  margin-right:auto;
  padding: 20px 10px 10px 10px;
  width: 511px; 
  text-align: left;
}
#players > div {
  display: inline-block;
  padding-right: 25px;
  color: #cccccc;
  -webkit-transition-duration: 200ms;
}
.button {
  float: right;
}


p{
  color: green;
}

form {
  border: 3px solid #f1f1f1;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button {
  background-color: greenyellow;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}



button:hover {
  opacity: 0.8;
    background-color: green;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}




.container {
  padding: 16px;
}


span.psw {
  float: right;
  padding-top: 16px;
}


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
    
}

input:hover {
  border: 2px solid greenyellow;

 
}
input:required {
  border-color: #800000;
  border-width: 3px;
}